[submodule ".github/actions/backport"]
	path = .github/actions/backport
	url = https://github.com/tibdex/backport
[submodule "kamelets/.github/actions/changelog"]
	path = kamelets/.github/actions/changelog
	url = https://github.com/charmixer/auto-changelog-action.git
