# ---------------------------------------------------------------------------
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ---------------------------------------------------------------------------

name: Integration Tests

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.adoc'
      - 'KEYS'
      - 'LICENSE'
      - 'NOTICE'
  push:
    branches:
      - main
    paths-ignore:
      - '**.adoc'
      - 'KEYS'
      - 'LICENSE'
      - 'NOTICE'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Set up JDK
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'maven'
    - name: Build Kamelet libraries
      run: |
        ./mvnw clean install -DskipTests -DskipITs
    - name: Run Tests
      env:
        CITRUS_TESTCONTAINERS_REGISTRY_MIRROR: "mirror.gcr.io"
        CITRUS_TESTCONTAINERS_REGISTRY_MIRROR_ENABLED: "true"
      run: |
        echo "Install JBang via SDKMAN"

        curl -s "https://get.sdkman.io" | bash 
        source "/home/runner/.sdkman/bin/sdkman-init.sh"
        sdk install jbang
        
        jbang trust add https://github.com/citrusframework/citrus/
        jbang trust add https://github.com/apache/camel/

        jbang citrus@citrusframework/citrus --version
        jbang camel@apache/camel --version
        
        echo "Running Citrus tests for Kamelets"
        
        ./mvnw clean verify -pl :camel-kamelets-itest -Denable.integration.tests
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: failure()
      with:
        name: dumps
        path: tests/camel-kamelets-itest/.citrus-jbang
